.pagination
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10px
    margin: 50px 0 0

    &Button
        color: #313037
        text-decoration: none
        font-weight: 500
        font-size: 16px
        
        
        &.active
            color: #6C1BDB

    &Buttons
        display: flex
        gap: 30px